@model WebRole1.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}
<div class="headTxt headTxtEffect">
    Reset Password
</div>

<div class="afterHeadTxtEffect">
    @using (Html.BeginRouteForm("AccountResetPassword", FormMethod.Post))
    {
        if (ViewBag.EmailNotExist != "")
        {
            <div class="form-group" style="color:red;font-weight:bold;">
                @ViewBag.UserNotExist
            </div>
        }
        if (ViewBag.SendEmail != "")
        {
            <div class="form-group" style="color:green;font-weight:bold;">
                @ViewBag.SendEmail
            </div>
        }

        <table class="mainPresentationText">
            <tr style="height: 50px;">
                <td>
                    <label class="mainPresentationText">
                        Username:
                    </label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "createUserInput" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "createUserError" })
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr><td colspan="2"><input type="submit" value="Reset" class="BtnBig" /></td></tr>
        </table>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
