

<div class="slideshow" style="height: 450px; position: relative;">
    <div style="width: 630px; position: absolute; top: 0px; left: 0px; display: block; z-index: 8; opacity: 0; height: 383px;">
        <div class="headTxt headTxtEffect">Welcome to R8R!</div>
        <div class="afterHeadTxtEffect">
            <table>
                <tbody>
                    <tr><td><img src="@Url.Content("~/Content/images/logolarge.png")"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width: 630px; position: absolute; top: 0px; left: 0px; display: none; z-index: 8; opacity: 0; height: 368px;">
        <div class="headTxt headTxtEffect">How to Enter Ratings</div>
        <div class="afterHeadTxtEffect">
            <table id="description" class="borderlessSpacious mainPresentationText">
                <tbody>
                    <tr><td><img src="@Url.Content("~/Content/images/login.png")"/></td><td>Create an account and log in.</td></tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/rate1.png")" />
                        </td>
                        <td>Click on any table cell you think is wrong.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/rate3.png")" />
                        </td>
                        <td>Enter your rating, and click the check mark.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><div style="width: 630px; position: absolute; top: 0px; left: 0px; display: none; z-index: 8; opacity: 0; height: 291px;">
        <div class="headTxt headTxtEffect">Rating Tips</div><div class="afterHeadTxtEffect">
            <table id="description" class="borderlessSpacious mainPresentationText">
                <tbody>
                    <tr><td><img src="@Url.Content("~/Content/images/yellow_star.jpg")"></td><td>You'll generally get the most points by carefully rating things that haven't been rated yet.</td></tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")"/>
                        </td>
                        <td>Move existing ratings only a little bit, unless you're confident others will agree.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")"/>
                        </td>
                        <td>Look at the comments to see whether ratings that seem strange actually make sense.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><div style="width: 630px; position: absolute; top: 0px; left: 0px; display: none; z-index: 8; opacity: 0; height: 317px;">
        <div class="headTxt headTxtEffect">How to Earn Money on R8R</div><div class="afterHeadTxtEffect">
            <table id="description" class="borderlessSpacious mainPresentationText">
                <tbody>
                    <tr><td><img src="@Url.Content("~/Content/images/step01_btn.jpg")"></td><td>Find a topic that interests you. Points you earn make you eligible for cash!</td></tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/step02_btn.jpg")" />
                        </td>
                        <td>You can earn points by entering accurate ratings that other users agree with.</td>
                    </tr>
                    <tr><td><img src="@Url.Content("~/Content/images/step03_btn.jpg")"></td><td>Once R8R trusts you, you can also earn points by improving the database and rating others' changes.</td></tr>
                </tbody>
            </table>
        </div>
    </div><div style="width: 630px; position: absolute; top: 0px; left: 0px; display: none; z-index: 8; opacity: 0; height: 291px;">
        <div class="headTxt headTxtEffect">Understanding R8R Points</div>
        <div class="afterHeadTxtEffect">
            <table id="description" class="borderlessSpacious mainPresentationText">
                <tbody>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")" />
                        </td>
                        <td>Whether you win or lose points depends on the rating at later points in time.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")" />
                        </td>
                        <td>If the later rating is closer to your rating than to the rating before yours, you win points.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")" />
                        </td>
                        <td>Untrusted ratings do not count in determining whether you win points.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width: 630px; position: absolute; top: 0px; left: 0px; display: none; z-index: 9; opacity: 1; height: 369px;">
        <div class="headTxt headTxtEffect">Peer Review Ratings</div><div class="afterHeadTxtEffect">
            <table id="description" class="borderlessSpacious mainPresentationText">
                <tbody>
                    <tr><td><img src="@Url.Content("~/Content/images/yellow_star.jpg")"/></td><td>Some table rows are randomly selected for peer review. You can use the Filter menu to view these rows.</td></tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/yellow_star.jpg")"></td>
                        <td>Ratings made during this period -- and even more so, just before this period -- will result in larger points won or lost.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")" />
                        </td>
                        <td>Your total points may depend a lot on the few ratings you make just before a table row is selected for peer review.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><div style="width: 630px; position: absolute; top: 0px; left: 0px; display: none; z-index: 8; opacity: 0; height: 315px;">
        <div class="headTxt headTxtEffect">Trusted &amp; Untrusted Ratings</div><div class="afterHeadTxtEffect">
            <table id="description" class="borderlessSpacious mainPresentationText">
                <tbody>
                    <tr><td><img src="@Url.Content("~/Content/images/yellow_star.jpg")" /></td><td>Ratings with an asterisk (*) are by untrusted users.</td></tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/yellow_star.jpg")" /></td>
                        <td>When trusted users enters the same or a similar rating, the asterisk disappears, and both may win points if the rating sticks.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")" />
                        </td>
                        <td>Untrusted users can convince trusted users by entering comments explaining their ratings.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><div style="width: 630px; position: absolute; top: 0px; left: 0px; display: none; z-index: 8; opacity: 0; height: 291px;">
        <div class="headTxt headTxtEffect">How to Improve the R8R Database</div><div class="afterHeadTxtEffect">
            <table id="description" class="borderlessSpacious mainPresentationText">
                <tbody>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/yellow_star.jpg")" /></td>
                        <td>Once R8R trusts you, you'll see buttons for adding new rows or changing information on existing ones.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")" />
                        </td>
                        <td>Some changes you make will be randomly selected for other users to rate in the Changes table.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/images/yellow_star.jpg")" />
                        </td>
                        <td>Those ratings determine how many points you'll earn or lose for the changes you've made.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="btnsInSlideshow">
    <img id="prev" src="@Url.Content("~/Content/images/slideback.png")" alt="previous" />
    <img id="pause" src="@Url.Content("~/Content/images/slidepause.png")" alt="pause" />
    <img id="resume" src="@Url.Content("~/Content/images/slideresume.png")" alt="resume" style="display: none;" />
    <img id="next" src="@Url.Content("~/Content/images/slidenext.png")" alt="next" />
</div>